@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "yekan"; /*Can be any text*/
  src: local("Yekan"), url("./fonts/Yekan.ttf") format("truetype");
}
:root {
  font-family: "yekan", sans-serif;
}
